[submodule "realisatie/code/api"]
	path = realisatie/code/api
	url = https://github.com/zwolsman/bbb-api.git
[submodule "realisatie/code/ui"]
	path = realisatie/code/ui
	url = https://github.com/zwolsman/bbb-ui.git
[submodule "blog/g-log"]
	path = blog/g-log
	url = https://github.com/zwolsman/g-log.git

[submodule "ISKA/iska-web3"]
	path = ISKA/iska-web3
	url = https://github.com/zwolsman/iska-web3.git
